[Desktop Entry]
Encoding=UTF-8
Name=osu! (32 bit)
Type=Application
Exec="/home/pacer/Games/osu!/.config/osu.sh"
Icon=/home/pacer/Games/osu!/.config/icon.png
StartupWMClass=osu!.exe
Categories=Games
