[Desktop Entry]
Encoding=UTF-8
Name=SCHOOLDAYS HQ
Type=Application
Exec=/bin/bash -c "$HOME/Games/.wine-prefixes/School Days HQ/resources/schooldays-hq.sh"
Icon=schooldays-hq-icon.ico
StartupWMClass=SCHOOLDAYS HQ.exe
Categories=Games
