[Desktop Entry]
Encoding=UTF-8
Name=SCHOOLDAYS HQ
Type=Application
Exec="$HOME/Games/.wine-prefixes/School Days HQ/resources/schooldays-hq.sh"
Icon=$HOME/Games/.wine-prefixes/School Days HQ/resources/1.ico
StartupWMClass=SCHOOLDAYS HQ.exe
Categories=Games