[Desktop Entry]
Encoding=UTF-8
Name=osu!
Type=Application
Exec="$HOME/Games/.wine-prefixes/osu!/resources/osu.sh"
Icon=osu-icon.png
StartupWMClass=osu!.exe
Categories=Games
