#!/bin/bash

# Nvidia driver settings
nvidia-settings --load-config-only &
nvidia-settings -a '[gpu:0]/GPUPowerMizerMode=1' &

# Compositor
picom --experimental-backends &

# Polkit
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

# Daemon
dunst &
xfce4-power-manager &
streamdeck --no-ui &

# Set wallpaper
nitrogen --restore &

# Give a chance for DE to set DPI scaling before launching GUI applications
sleep 1

# Autostart applications
steam-native -silent &
qbittorrent &
discord --start-minimized &
vibrantLinux &
