#!/bin/bash
# nvidia
nvidia-settings --load-config-only &
nvidia-settings -a '[gpu:0]/GPUPowerMizerMode=1' &

# picom
picom --experimental-backends &

# pywal colors
xrdb ~/.cache/wal/colors.Xresources &

# polkit
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

# daemon
fcitx5 -d &
sxhkd &
xfce4-power-manager --daemon &
flameshot &
nm-applet &

# wallpaper
nitrogen --restore &

# autostart
steam-native -silent &
qbittorrent &
discord --start-minimized &
