[Desktop Entry]
Encoding=UTF-8
Name=FrankenWM
Comment="monsterwm's bastard child" or "not the wm your desktop needs, but the one it deserves"
Exec=/usr/local/bin/frankenwm
Icon=frankenwm
Type=XSession
