[Desktop Entry]
Encoding=UTF-8
Name=SHINYDAYS
Type=Application
Exec=/bin/bash -c "$HOME/Games/.wine-prefixes/Shiny Days/resources/shinydays.sh"
Icon=shinydays-icon.ico
StartupWMClass=SHINYDAYS.exe
Categories=Games
